/* Global variables are stored in App.css :root */
/* local variables */
.tile-container {
  --transition-time: 200ms;
}

/* Grid container */
.tile-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    gap: 0.75em;
    width: 100%;
    height: max-content;
    overflow: auto;
  
    padding: calc(10px + 0.5vmin);
    border: 6px double var(--main-border-color);
    border-radius: 0.6em;
  }
  
  /* tile block */
  .tile {
    display: grid;
    grid-template-areas: 
      "img"
      "header"
      "description";
    grid-template-rows: auto 1fr max-content;
    height: 14em;
    border: 3px double hsl(0, 0%, 50%);
    border-radius: 1.0em;
    overflow: hidden;
    font-family: var(--secondary-font-family);
    transition: transform var(--transition-time) ease-in-out;
  }
  .tile > * {
    text-align: center;
  }
  .tile > img {
    grid-area: img;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .tile > :is(h2, h3, h4, h5, h6) { 
    grid-area: header;
    align-self: center;
  }
  .tile > p {
    display: block;
    height: 0;
    transition: height var(--transition-time) ease-in-out;
    grid-area: description;
  }

  /* tile animations */
  .tile:hover {
    transform: scale(1.1);
  }
  .tile:hover > p {
    display: block;
    height: 50px;
  }