/* custom fonts */
@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("./Fonts/SourceSansPro-Semibold.otf");

}
@font-face {
  font-family: Merriweather-Regular;
  src: url("./Fonts/Merriweather-Regular.otf");
}

/* variable store */
:root {
  --main-width: 95ch;
  --big-screen-margin: calc((100vw - var(--main-width) )/2);

  --main-bg-color:hsl(0, 0%, 78%);
  --secondary-bg-color: hsl(0, 0%, 10%);
  /* --secondary-bg-color: hsl(197, 15%, 36%); */
  --button-color: hsl(0, 0%, 60%);
  --button-border-1: hsl(0, 0%, 70%);
  --button-border-2: hsl(0, 0%, 40%);
  --main-border-color: hsl(0, 0%, 40%);
  --main-text-color: hsl(227, 15%, 5%);
  --describe-text-color: hsla(0, 0%, 40%, 0.95);
  --attention-color-one: hsl(98, 42%, 42%);
  --attention-color-two: hsl(61, 30%, 30%);

  --main-font-family: SourceSansPro-Semibold, Optima, 'Arial Narrow';
  --secondary-font-family: Merriweather-Regular, Didot, 'American Typewriter';
}

* {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.page-wrapper {
  /* max-width: var(--main-width); */
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
}

/* Headers */
h1 {
  color: var(--main-text-color);
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 2.5rem;
}

h2 {
  color: var(--main-text-color);
  text-align: left;
  font-family: var(--main-font-family);
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  font-weight: 600;
}
/* Main text */
.main-text {
  margin: 0 2ch 0 2ch;
  color: var(--main-text-color);
  text-align: justify;
  font-family: var(--secondary-font-family);
  overflow-wrap: normal;
}

/* media queries */
@media screen and (min-width: 1000px) {
  :root {
    scrollbar-width: none;
  }
  body {
    margin: 0 var(--big-screen-margin) 0 var(--big-screen-margin);
    scroll-behavior: smooth;
  }

}