@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("./Fonts/SourceSansPro-Semibold.otf");

}
@font-face {
  font-family: Merriweather-Regular;
  src: url("./Fonts/Merriweather-Regular.otf");
}

:root {
  --main-bg-color:hsl(0, 0%, 78%);
  --main-text-color: hsl(227, 15%, 5%);
  --secondary-bg-color: hsl(197, 15%, 36%);
  --attention-color-one: hsl(98, 42%, 42%);
  --attention-color-two: hsl(61, 30%, 30%);

  --main-font-family: SourceSansPro-Semibold, Optima, 'Arial Narrow';
  --secondary-font-family: Merriweather-Regular, Didot, 'American Typewriter';
}


* {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

/* Navbar */
.nav {
  background-color: var(--secondary-bg-color);

  padding: calc(7px + 1.4vmin);
  margin: 0;
  width: 100%;

  border-radius: 0 0 0.8em 0.8em / 0 0 0.5em 0.5em;
}
.nav * {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2.5ch;
}
.nav ul {
  background-color: var(--secondary-bg-color);
}

/* Navbar buttons - this abomination is a placeholder to be cleaned later */
.button {
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 3px;

  background-color: var(--attention-color-two);
  font-family: var(--secondary-font-family);
  color: var(--main-text-color);
  text-decoration: none;
}

/* Headers */
h1 {
  margin: 0.5em;

  color: var(--main-text-color);
  text-align: center;
  font-family: var(--main-font-family);
  /* font-family: 'Courier New', Courier, monospace; */
}


/* Grid container for blog items */
.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
  gap: 0.75em;
  width: 100%;
  min-height: 90vh;

  padding: calc(10px + 0.5vmin);
  border: 6px double hsl(0, 0%, 40%);
  border-radius: 0.6em;
}

/* tile block for blog and carousel items */
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* min-width: 150px; */
  height: 14em;

  border: 3px double hsl(0, 0%, 50%);
  border-radius: 1.0em;

  font-family: var(--secondary-font-family);
}


/* media queries */
@media screen and (min-width: 1000px) {
  body {
    margin: 0 20vw 0 20vw;
  }
}