/* uploaded fonts */
@font-face {
  font-family: SourceSansPro-Semibold;
  src: url("./Fonts/SourceSansPro-Semibold.otf");

}
@font-face {
  font-family: Merriweather-Regular;
  src: url("./Fonts/Merriweather-Regular.otf");
}

/* store variables */
:root {
  --main-width: 95ch;
  --big-screen-margin: calc((100vw - var(--main-width) )/2);

  --main-bg-color:hsl(0, 0%, 78%);
  --secondary-bg-color: hsl(197, 15%, 36%);
  --main-border-color: hsl(0, 0%, 40%);
  --main-text-color: hsl(227, 15%, 5%);
  --attention-color-one: hsl(98, 42%, 42%);
  --attention-color-two: hsl(61, 30%, 30%);

  --main-font-family: SourceSansPro-Semibold, Optima, 'Arial Narrow';
  --secondary-font-family: Merriweather-Regular, Didot, 'American Typewriter';
}

* {
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
}

/* Navbar */
.nav {
  background-color: var(--secondary-bg-color);

  padding: calc(7px + 1.4vmin);
  margin: 0;
  width: 100%;

  border-radius: 0 0 0.8em 0.8em / 0 0 0.5em 0.5em;
}
.nav * {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2.5ch;
}
.nav ul {
  background-color: var(--secondary-bg-color);
}

/* Navbar buttons - this abomination is a placeholder to be cleaned later */
.button {
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 3px;

  background-color: var(--attention-color-two);
  font-family: var(--secondary-font-family);
  color: var(--main-text-color);
  text-decoration: none;
}

/* Headers */
h1 {
  /* margin: 0.5em; */

  color: var(--main-text-color);
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 2.5rem;
}

/* Main text */
.main-text {
  margin: 0 2ch 0 2ch;
  /* max-width: 75ch; */
  /* width: clamp(45ch, 100% , 75ch); */
  color: var(--secondary-font-family);
  text-align: justify;
  font-family: var(--secondary-font-family);
  overflow-wrap: normal;
}

/* media queries */
@media screen and (min-width: 1000px) {
  body {
    margin: 0 var(--big-screen-margin) 0 var(--big-screen-margin);
    /* margin: 0 20vw 0 20vw; */
  }
}