.carousel {
    /* overflow: hidden; */
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: gray;
    color: aliceblue;
}

.indicators {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.indicators > button {
    padding: 5px;
}

.indicators > button.active {
    background-color: brown;
    border: 1px solid red;
    border-radius: 50%;
}